<div class="row m-4">
  <%= form_with(model: @book, local: true, html: { multipart: true }) do |f| %>
    <div class="col-5 card">
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :title, { class: "form-label" } %>
          <%= f.text_field :title, { class: "form-control", placeholder: "Site title" } %>
        </div>
        <div class="mb-3">
          <%= f.label :author, { class: "form-label" } %>
          <%= f.text_field :author, { class: "form-control", placeholder: "Site author" } %>
        </div>
        <div class="mb-3">
          <%= f.label :ISBN, class: "form-label" %>
          <%= f.text_field :ISBN, class: "form-control", placeholder: "ISBN No." %>
        </div>
        <div class=" mb-3">
          <%= f.label :book_quantity, class: "form-label" %>
          <%= f.number_field :book_quantity, class: "form-control", min: 0, :value => 0 %>
        </div>
        <div class=" mb-3">
          <%= f.label :image, class: "form-label" %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<div class="m-5 btn btn-primary">
  <%= link_to "Back", books_path(@book), :class => "btn" %>
</div>
