<div class="row m-4">
  <%= form_with(model: [@patron, @transaction]) do |f| %>
    <div class="col-5 card">
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :ISBN, class: "form-label" %>
          <%= f.text_field :ISBN, class: "form-control", placeholder: "ISBN No." %>
        </div>
        <%= f.submit "Assign", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<div class="m-5 btn btn-primary">
  <%= link_to "Back", transactions_path(@transaction), :class => "btn" %>
</div>
